<div id="sidenav" class="py-5 w-full flex flex-col gap-3 relative lg:min-h-full min-h-screen ">
    <div
        class="flex justify-center lg:hidden items-center gap-2 px-4 py-3 cursor-pointer select-none"
        
      >
        <div class="w-full flex flex-col gap-2 justify-end items-center">
            <img
              src="bgImage.jpg"
              alt="User"
              class="h-20 w-20 rounded-full border border-white/40 object-cover"
            />
            <div class=" text-center">
                <div class="font-medium">
                  Username
                </div>
                <div class="font-medium text-xs">
                  emp0001
                </div>
            </div>
        </div>
        <!-- <i class="fa-solid fa-chevron-down text-xs text-white hidden md:block"></i> -->
      </div>
    <a class="font-medium w-full bg py-3 px-4 text-left = text-[var(--primaryColor)] hover:bg-[var(--primaryColor)] hover:text-white transition-all duration-200 ease-in-out flex items-center justify-start gap-3 rounded-lg cursor-pointer">
        <i class="fa-solid fa-house font-semibold text-lg"></i>
        Home
    </a>
    <a class="font-medium w-full bg py-3 px-4 text-left  text-[var(--primaryColor)] hover:bg-[var(--primaryColor)] hover:text-white transition-all duration-200 ease-in-out flex items-center justify-start gap-3 rounded-lg cursor-pointer">
        <i class="fa-solid fa-user-group font-semibold text-lg"></i>
        User Management
    </a>
    

    <!-- <a
            
            class="font-medium absolute bottom-5 w-full py-3 px-4 text-left text-red-500 hover:bg-red-50 hover:text-red-500 transition-all duration-200 ease-in-out  flex items-center justify-start gap-3 rounded-lg cursor-pointer"
          >
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
          </a> -->
</div>
