<!-- admin login page -->
<div
  id="sign-in"
  class="w-full min-h-screen bg-[#F8FAFC] flex justify-center items-center"
>
  <div
    class="w-full md:w-[80%] min-h-screen md:min-h-[90vh]  bg-[#F8FAFC] md:border md:shadow md:rounded-2xl lg:grid lg:grid-cols-2"
  >
    <!-- LEFT SECTION -->
    <div class="w-full relative">
      <div
        class="left-section relative w-full lg:h-full h-full md:rounded-t-2xl md:h-[450px] overflow-hidden lg:rounded-l-2xl"
      >
        <!-- overlay -->
        <div class="absolute inset-0 bg-black/50 z-10"></div>

        <!-- content -->
        <div
          class="relative z-20 flex flex-col justify-center items-start lg:items-start h-full p-10 text-white"
        >
          <span class="font-extrabold font-serif text-4xl mb-4">
            Bahis & CO
          </span>

          <p
            class="font-medium leading-relaxed max-w-md text-white/90 text-base"
          >
            Welcome to Your Work Management & Approval System.
            Streamline work submissions, simplify approvals,
            and manage workflows effortlessly.
          </p>
        </div>
      </div>
    </div>

    <!-- right section -->
    <div class="w-full rounded-r-2xl lg:p-3 py-7 flex items-center ">
      <div class="px-10 w-full lg:max-w-full max-w-md mx-auto lg:mx-0">
        <div
          class="font-semibold text-[var(--primaryColor)] max-w-sm tracking-tight xl:tracking-tight lg:tracking-tighter lg:pt-0 pt-0 xl:text-lg lg:text-sm text-base leading-1"
        >
            Verify your email<br />
             <span class="lg:text-base font-medium text-sm">We’ll send a password reset link to your registered email address.</span>
        </div>
        <div class="flex flex-col gap-5 xl:pt-16 pt-7">
          <div class="flex flex-col w-full relative">
            <label
              class="xl:font-medium font-semibold text-[var(--primaryColor)] xl:text-sm lg:text-sm"
            >
              Email
            </label>
            <i
              class="fa-regular fa-envelope absolute text-[var(--primaryColor)] md:top-[33px] top-[36px] xl:top-[28px] lg:top-[28px] ps-2 text-sm"
            ></i>
            <input
            [(ngModel)]="enteredMail"
              class="w-full md:py-[5px] py-[7px] border border-[var(--primaryColor)] rounded-md bg-gray-100 pe-2 ps-7 focus:outline-none transition-all duration-200 ease-in-out focus:border-[var(--primaryColor)] focus:ring-2 focus:ring-[var(--primaryColor)]/30 focus:shadow-mdfocus:ring-offset-1 focus:ring-offset-white text-lg xl:text-base lg:text-base"
              placeholder="Enter your email address"
              type="email"
              required
            />
            <div class="flex justify-end pt-1">
              <a
                routerLink="/sign-in"
                class="text-xs font-medium cursor-pointer text-[var(--primaryColor)] hover:underline"
                ><i class="fa-solid fa-arrow-left pe-1"></i> Back to sign in</a
              >
            </div>  
          </div>
          
          <button
          [disabled]="!enteredMail"
            class="py-[7px] bg-[var(--primaryColor)] w-full rounded-md font-medium text-white shadow-lg hover:shadow-xl disabled:hover:shadow-none disabled:opacity-75 transition"
          >
            Send Reset Link
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
