<!-- admin login page -->
<div
  id="sign-in"
  class="w-full min-h-screen bg-[#F8FAFC] flex justify-center items-center"
>
  <div
    class="w-full md:w-[80%] min-h-screen md:min-h-[90vh]  bg-[#F8FAFC] md:border md:shadow md:rounded-2xl lg:grid lg:grid-cols-2"
  >
    <!-- LEFT SECTION -->
    <div class="w-full relative">
      <div
        class="left-section relative w-full lg:h-full h-full md:rounded-t-2xl md:h-[450px] overflow-hidden lg:rounded-l-2xl"
      >
        <!-- overlay -->
        <div
          class="absolute inset-0 bg-black/45 z-20 "
        ></div>

        <!-- content -->
        <div class="relative z-30 p-8 text-white flex justify-center items-center w-full h-full">
          <!-- Your logo / text -->
           <div class="w-full">
               <div class="w-full"><span class="font-extrabold text-white font-serif text-4xl">Bahis & CO</span></div>
            <div
              class="font-semibold leading-relaxed xl:max-w-sm lg:max-w-xs text-white/90 tracking-tight xl:tracking-tight lg:tracking-tighter lg:pt-0 pt-0 xl:text-lg text-sm"
            >
              Welcome to Your Work Management & Approval System.
              Streamline work submissions, simplify approvals, and manage workflows effortlessly.<br />
            </div>
           </div>
        </div>
      </div>
    </div>

    <!-- right section -->
    <div class="w-full rounded-r-2xl lg:p-3 py-7 flex items-center ">
      <div class="px-10 w-full lg:max-w-full max-w-md mx-auto lg:mx-0">
        <div
          class="font-semibold text-[var(--primaryColor)] tracking-tight xl:tracking-tight lg:tracking-tighter lg:pt-0 pt-0 xl:text-lg lg:text-sm text-base leading-1"
        >
           Reset your password<br />
             <span class="lg:text-base font-medium text-sm">Enter a new password to regain access to your account.</span>
        </div>
        <div class="flex flex-col gap-5 xl:pt-16 pt-7">
          
          <div class="flex flex-col w-full relative">
            <label
              class="xl:font-medium font-semibold text-[var(--primaryColor)] xl:text-sm lg:text-sm"
            >
              New Password
            </label>
            <i
              class="fa-solid fa-lock absolute text-[var(--primaryColor)] md:top-[33px] top-[36px] xl:top-[28px] lg:top-[28px] ps-2 text-sm"
            ></i>
            <i
            [title]="'Hide'"
              class="fa-solid fa-eye absolute transition-all ease-in-out text-[var(--primaryColor)] md:top-8 top-[36px] xl:top-[28px] lg:top-[28px] right-2 text-sm cursor-pointer"
              *ngIf="!showNewPassword"
              (click)="showNewPassword = !showNewPassword"
            ></i>
            <i
            [title]="'Show'"
              class="fa-solid fa-eye-slash transition-all ease-in-out absolute text-[var(--primaryColor)] md:top-8 top-[36px] xl:top-[28px] lg:top-[28px] right-2 text-sm cursor-pointer"
              *ngIf="showNewPassword"
              (click)="showNewPassword = !showNewPassword"
            ></i>
            <input
              class="w-full md:py-[5px] py-[7px] border border-[var(--primaryColor)] rounded-md bg-gray-100 pe-2 ps-7 focus:outline-none transition-all duration-200 ease-in-out focus:border-[var(--primaryColor)] focus:ring-2 focus:ring-[var(--primaryColor)]/20 focus:shadow-md focus:ring-offset-1 focus:ring-offset-white text-lg xl:text-base lg:text-base"
              placeholder="Enter Your Password"
              [type]="showNewPassword ? 'text' : 'password'"
              required
            />
            
          </div>
          <div class="flex flex-col w-full relative">
            <label
              class="xl:font-medium font-semibold text-[var(--primaryColor)] xl:text-sm lg:text-sm"
            >
              Confirm Password
            </label>
            <i
              class="fa-solid fa-lock absolute text-[var(--primaryColor)] md:top-[33px] top-[36px] xl:top-[28px] lg:top-[28px] ps-2 text-sm"
            ></i>
            <i
            [title]="'Hide'"
              class="fa-solid fa-eye absolute transition-all ease-in-out text-[var(--primaryColor)] md:top-8 top-[36px] xl:top-[28px] lg:top-[28px] right-2 text-sm cursor-pointer"
              *ngIf="!showConfirmPassword"
              (click)="showConfirmPassword = !showConfirmPassword"
            ></i>
            <i
            [title]="'Show'"
              class="fa-solid fa-eye-slash transition-all ease-in-out absolute text-[var(--primaryColor)] md:top-8 top-[36px] xl:top-[28px] lg:top-[28px] right-2 text-sm cursor-pointer"
              *ngIf="showConfirmPassword"
              (click)="showConfirmPassword = !showConfirmPassword"
            ></i>
            <input
              class="w-full md:py-[5px] py-[7px] border border-[var(--primaryColor)] rounded-md bg-gray-100 pe-2 ps-7 focus:outline-none transition-all duration-200 ease-in-out focus:border-[var(--primaryColor)] focus:ring-2 focus:ring-[var(--primaryColor)]/20 focus:shadow-md focus:ring-offset-1 focus:ring-offset-white text-lg xl:text-base lg:text-base"
              placeholder="Enter Your Password"
              [type]="showConfirmPassword ? 'text' : 'password'"
              required
            />
            
          </div>
          <button
            class="py-[7px] bg-[var(--primaryColor)] w-full rounded-md font-medium text-white shadow-lg hover:shadow-xl transition"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
