@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #2572a9;
  --secondaryColor: #f8fafc;
}

body {
  @apply bg-[#eef4f8];
}

.responsive-dialog .mat-mdc-dialog-container {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
}

/* Mobile */
@media (max-width: 640px) {
  .responsive-dialog {
    width: 95vw !important;
  }
}

button {
  @apply transition-transform duration-100 ease-in-out active:scale-95 hover:shadow-lg disabled:shadow-none disabled:scale-100 disabled:transition-none disabled:cursor-not-allowed;
}

/* animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* overlay pane */
.cdk-overlay-pane.custom-top-dialog {
  position: absolute !important;
  top: 5vh;
  left: 0;
  width: 100vw !important;
  height: 95vh !important;
  display: flex;
}

/* dialog container */
.custom-top-dialog .mat-mdc-dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: slideUp 0.3s ease-out forwards;
}

/* dialog surface */
.custom-top-dialog .mat-mdc-dialog-surface {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow: hidden;
  background-color: #f1f5f9 !important;
}

/* scrollable content */
.dialog-body {
  flex: 1;
  overflow-y: auto;
}

/* backdrop */
.cdk-overlay-backdrop.custom-dialog-backdrop {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}

.dialog-body {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-toast-width {
    min-width: 350px !important; /* 👈 set your desired minimum width */
    width: fit-content !important; /* grows with content */
    max-width: 100% !important; /* prevents overflow */
    font-size: 12px;
    white-space: nowrap; /* keeps text in one line */
}

.toast-container {
  position: fixed !important;
  z-index: 999999 !important;
}

.apexcharts-canvas {
  touch-action: manipulation;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
